<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scaneador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Click en el Boton para Escanear</h1>

  <ion-button color="primary" (click)="scanBar()">
    Escanear QR
  </ion-button>

    <div >
      <ion-card *ngIf="ocultar">
        <ion-label class="ion-padding">
          <h2><strong>{{email}}</strong></h2>
          <p>Fecha: {{comidacart.fecha}}</p>
          <p>Hora: {{comidacart.hora}}</p>
          <p>Comida: {{comidacart.comida}}</p>
          <p>Comentario: {{comidacart.comentario}}</p>
        </ion-label>
      </ion-card>
    </div>
</ion-content>
